[data-theme-mode='dark'] {
  --bui-font-regular: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  --bui-font-weight-regular: 400;
  --bui-font-weight-bold: 700;
  --bui-black: #000;
  --bui-white: #fff;
  --bui-fg-primary: #fff;
  --bui-fg-secondary: #CCCCCC;
  --bui-fg-disabled: rgba(255, 255, 255, 0.5);
  --bui-fg-solid: rgba(0, 0, 0, 0.87);
  --bui-fg-solid-disabled: rgba(255, 255, 255, 0.5);
  --bui-fg-danger: #f44336;
  --bui-fg-warning: #ffa726;
  --bui-fg-success: #66bb6a;
  --bui-fg-info: #29b6f6;
  --bui-fg-danger-on-bg: #d32f2f;
  --bui-fg-warning-on-bg: #f57c00;
  --bui-fg-success-on-bg: #388e3c;
  --bui-fg-info-on-bg: #0288d1;
  --bui-bg-app: #333333;
  --bui-bg-neutral-1: #424242;
  --bui-bg-neutral-2: #333333;
  --bui-bg-neutral-3: #333333;
  --bui-bg-solid: #9CC9FF;
  --bui-bg-solid-hover: rgb(143, 194, 254);
  --bui-bg-solid-pressed: #82BAFD;
  --bui-bg-solid-disabled: rgba(255, 255, 255, 0.12);
  --bui-bg-danger: #e57373;
  --bui-bg-warning: #ffb74d;
  --bui-bg-success: #81c784;
  --bui-bg-info: #4fc3f7;
  --bui-border-danger: #f44336;
  --bui-border-warning: #ffa726;
  --bui-border-success: #66bb6a;
  --bui-border-info: #29b6f6;
  --bui-border-2: #E6E6E6;
  --bui-ring: #FFFBCC;
}